ion-card-content {
    border: 2px solid rgb(133, 133, 133);
    margin: 15px;
    margin-top: -3px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
}

iframe {
    width: 100%;
}