<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{movie?.title ?? "Loading"}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{movie?.title ?? "Loading"}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="movie">
    <ion-card>
      <img [src]="movie.poster_path" />
      <ion-card-header>
        <ion-card-title> {{movie.title}} </ion-card-title>
      </ion-card-header>
      <ion-card-content
        (click)="isSubtitleFullyVisible = !isSubtitleFullyVisible"
      >
        {{isSubtitleFullyVisible ? movie.overview : movie.overview.length > 80 ?
        movie.overview.slice(0, 80) + '...' : movie.overview}}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{movie.vote_count}} rated</ion-card-subtitle>
        <ion-title color="primary" ion-title
          >Rating: {{movie.vote_average}}</ion-title
        >
      </ion-card-header>
    </ion-card>
  </ng-container>
</ion-content>
